@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    height: 100vh; 
    display: flex;
    justify-content: center;
    flex-direction: row;
}
section{
    position: relative;
    width: 95%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
background: linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);
border-radius: 15px 0px 0px 15px;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px ;
    display: flex;
    
    align-items: center ;
}
header .logo{
margin-top: 0px;
width: 30px;
}

header ul{
position: relative;
display: flex;
}
header ul li{
   list-style: none;
    }
header ul li a{
    display: inline block;
    color: #ffffff;
    font-weight: 500px;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    color: #ffffff;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .text{
    position: relative;
    width: 600px;
}
.content .text h2{
    color: #ffffff;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 200;
}
.content .text h2 samp{
    color: #ffffff;
   
}
.content .text a{
display: inline-block;
margin-top: 20px;
padding: 8px 20px;
position: absolute;

border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 100px;
}
.imgbox .iWatch{
    width: 500px;
    display: flex;
    
    

}
.thumb{
    position: absolute;
    left: 60%;
    bottom: 40px ;
    transform: rotateX(-50%);
    display: flex;
    width: 375px;
    justify-content: space-between;

}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0px  20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li img{
    max-width: 70px;
    margin-top: -30px;

}
.thumb li:hover{
    transform: translateY(-25px);
}





.top{
    background-color: #ffffff;
    width: 100px;
    height: 100vh;

}
.menue{
    padding:30px 30px 30px 30px ;
}
.icons{
padding: 30px   ;
margin-top: 500px;

}
.first{
    position: relative;


background: rgba(67, 69, 88, 0.6);
border-radius: 10px;



}
.second{
    position: relative;



    background: rgba(106, 221, 204, 0.6);
    border-radius: 10px;
}
.third{
    position: relative;
    background: rgba(249, 205, 196, 0.6);


}
.serchcart{
    margin-left:500px;
}
.watch{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    color: #C8DCE6;
    padding: 0px !important;
    margin-left: 20px;
    text-align: center;
    width: 80px;

   
}
.facebook{
    padding: 10px;
}
.twitter{
    padding: 10px;
}
.linkdin{
    padding: 10px;
}
.box{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    background-color: black;
    opacity: 0.2;
    filter: blur(5px);
    border-radius: 50%;
}
 @media screen and (max-width:690px) {
    header ul{
        display: none;
    }
header{
    justify-content: center;
}
    .content {
        font-size: 6px;
        flex-direction: column;
       
    }
    .imgbox .iWatch{
        width: 200px;
        display: flex;
      
        
       
        
    
    }
    .thumb{
        position: absolute;
        left: 3%;
        display: flex;
        width: 325px;
        justify-content: space-between;
        
        
    
    }
    .icons{
        padding: 50px   ;
        margin-top: 300px;
        
        }
    .menue{
    padding:50px  ;
}
.serchcart{
    margin-left:150px;
}
body {
    height: 100%; 
    display: flex;
  
    flex-direction: row;
} 
.colornavigator{
    display:none;
}
.first{
    width: 95px;
}
.second{
    width: 95px;
}
.third{
    width: 95px;
}
.thumb li img{
    max-width: 60px;

}
.content .text{
    padding-left: 200px;
    padding-bottom: 150px;

}
.content .text a{
    margin-bottom: 100px;
}
section{
    font-size: 20px;

}
.content .text h2{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 10%;
}
.box{
    margin-bottom: 25%;
}
}