@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.base{
    display: flex;
    flex-direction:row;
    border-radius:300px;
    

}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    
   
background: linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);
border-radius: 30px;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px  10px 60px;
    display: flex;
    
    align-items: center ;
}
header .logo{
margin-top: 0px;
width: 40.62px;
Height:50px;
left: 9.38%;

}

header ul{
position: relative;
display: flex;
}
header ul li{
   list-style: none;
    }
header ul li a{
    display: inline block;
    color: #ffffff;
    font-weight: 500px;
    margin-left: 50px;
    text-decoration: none;
    line-height: 27px;
    font-style: normal;
}
.content{
    color: #ffffff;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .text{
    position: relative;
    width: 600px;
}
.content .text h2{
    color: #ffffff;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 200;
}
.content .text samp h3{
    color: #ffffff;
    padding: 0  px 20px;

    
   
}

.content .text a{
display: inline-block;
margin-top: 20px;
padding: 8px 20px;
position: absolute;

border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 100px;
}
.imgbox .iWatch{
    width: 500px;
    display: flex;
    
    

}
.thumb{
    position: absolute;
    left: 60%;
    bottom: 40px ;
    transform: rotateX(-50%);
    display: flex;
    width: 375px;
    justify-content: space-between;

}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0px  20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li img{
    max-width: 70px;
    margin-top: -30px;

}
.thumb li:hover{
    transform: translateY(-25px);
}





.top{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
 .menue{
    padding:30px 30px 30px 30px ;
    pointer-events:none
}
.icons{
padding: 30px   ;
margin-top: 500px;

} 
.first{
    position: relative;


background: rgba(67, 69, 88, 0.6);
border-radius: 10px;



}
.second{
    position: relative;



    background: rgba(106, 221, 204, 0.6);
    border-radius: 10px;
}
.third{
    position: relative;
    background: rgba(249, 205, 196, 0.6);


}
.serchcart{
    margin-left: auto;

    position: relative;
}
.watch{
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    color: #C8DCE6;
    padding: 0px !important;
    margin-left: 20px;
    text-align: center;
    width: 80px;

   
}
.facebook{
    padding: 10px ;
}
.twitter{
    padding: 10px;
}
.linkdin{
    padding: 10px;
}
.box{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    background-color:black;
    opacity: 0.2;
    filter: blur(5px);
    border-radius: 50%;
}
.w3-sidebar w3-bar-block w3-border-right{
    display: none;
}
.sidenav{
    display: none;
}
.colornavigator{
    position: relative;
    display: block;
   
}
@media screen and (max-width:800px) {
    .sidenav{
        display: inline;
        position: relative;
}
    

    header ul{
        display: none;
    }
header{
    justify-content: center;
}
    .content {
        font-weight:700;
        flex-direction: column;
       
    }
    .imgbox .iWatch{
        width: 280px;
        display: flex;
 }
    .thumb{
        display: none;
        
    
    }
.serchcart{
    
    margin-left: 80%;
    position: relative;
}

.thumb li img{
    max-width: 80px;

}
.content .text{
    padding-left: 180px;
    padding-bottom: 150px;

}
.content .text a{
    margin-bottom: 100px;
}
section{
    font-size: 20px;

}
.content .text h2{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 10%;
}
.box{
    margin-bottom: 25%;
}
.colornavigator{
margin-top: 200px;
margin-left: 55%; 
justify-content: space-around;
position: absolute;
display:block 

}

.content .text samp h3{
    color: #ffffff;
    padding: 0  px 20px;
    font-size: 1rem;
}
section{
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    
   
background: linear-gradient(294.28deg, #C8DCE6 0%, #B6CCDA 100%);
border-radius:20px;

}
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    display: none;
  
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a{
    padding: 10px 8px 0px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 40%;
  }
  
  /* On mouse-over */
  .sidenav a:hover{
    color:black;

  }
  
  .logon{
    padding-left: 60px ;
    margin-top: 40%;
  }
  .menue{
    display: flex;
    flex-direction:column-reverse;
    
}
.base{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 200px;
}
.top{
    flex-direction: row;
    z-index: 2;
}
.icons{
    display: flex;
    flex-direction: row;
    padding: 10px   ;
    margin-top: 0%;
    width: auto;
}
.menue{
    padding:30px 30px 30px 30px ;
    pointer-events:auto;
    }
    .facebook{
        padding: 10px ;
    }
    .twitter{
        padding: 12px;
    }
    .linkdin{
        padding: 12px;
    }
}
